<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocr.system.mapper.TickStatusViewMapper">
    <resultMap type="TickStatusView" id="TickStatusViewResult">
        <result property="ocrDate" column="ocr_date"/>
        <result property="channel" column="channel"/>
        <result property="imageName" column="image_name"/>
        <result property="tickTotal" column="tick_total"/>
        <result property="tradeTotal" column="trade_total"/>
        <result property="ocrRate" column="ocr_rate"/>
    </resultMap>

    <sql id="selectTickStatusViewVo">
        select ocr_date,channel,image_name,tick_total,trade_total,ocr_rate from tick_status_view
    </sql>

    <select id="selectTickStatusViewList" parameterType="TickStatusView" resultMap="TickStatusViewResult">
        <include refid="selectTickStatusViewVo"/>
        <where>
            <if test="ocrDate != null ">and ocr_date = #{ocrDate}</if>
            <if test="channel != null  and channel != '' ">and channel = #{channel}</if>
            <if test="imageName != null  and imageName != '' ">and image_name = #{imageName}</if>
            <if test="tickTotal != null  and tickTotal != '' ">and tick_total = #{tickTotal}</if>
            <if test="tradeTotal != null  and tradeTotal != '' ">and trade_total = #{tradeTotal}</if>
            <if test="ocrRate != null  and ocrRate != '' ">and ocr_rate = #{ocrRate}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND ocr_date &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND ocr_date &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
    </select>

</mapper>