<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('上传识别图片')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>图片文件上传控件 </h4>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="font-noraml">图片上传</label>
                        <div class="file-loading">
                            <input id="file" name="file" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/recognition";

    $(document).ready(function () {
        $("#file").fileinput({
            uploadUrl: prefix + '/fileUpload',
            showUpload: true,
            allowedFileTypes:['image'],
            msgFilesTooMany:"选择上传的文件数量({n})超过允许的最大数值{m}!",
            dropZoneTitle:"仅支持单影像上传识别！",
            maxFileCount: 1
        }).on("fileuploaded", function(event, data, previewId, index) {
            var result =data.response.data;
            if (result!=null){
                var imgId= result.imgId;
                var url = prefix + '/data/'+imgId;
                console.info(url);
                createMenuItem(url, "识别结果详情");
            }
        });
    })



</script>
</body>
</html>