<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('流水查询详情')"/>
</head>
<body class="gray-bg">
<div id="detail_modal-body" class="modal-body">
    <div class="col-md-12">
        <div class="col-md-8">
            <div class="box box-primary" style="height:800px">
                <div class="box-header with-border">
                    <div class="box-header with-border">
                        <h4 class="box-title" th:align="center">&nbsp;&nbsp;&nbsp;影像图片</h4>
                    </div>
                    <div class="box-body" id="imageBody" style="width:1050px;height:750px;overflow-y:auto">
                        <div class="imageBox" id="imageBox" style="margin-left: 10px">
                            <img class="span" style="width: 1000px"
                                 th:src="(${imgUrl} == '') ? @{/img/profile.jpg} : @{${imgUrl}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-content" id="idv2">
                <form class="form-horizontal" id="form-user-edit" th:object="${ocrTrade}">
                    <input type="text" hidden="hidden" name="id" th:field="*{id}"/>
                    <div class="row">
                        <h2 class="box-title" th:align="center">银行卡识别信息：</h2>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" style="font-weight:bold;font-size: 14px"></span>银行卡号：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" readonly="true" th:size="22" th:high="48" style="font-size: 20px"
                                           disabled="disabled" th:value="@{${bankCard.getBankCardNo()}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label" style="font-weight:bold;font-size: 14px"></span>人工勾对：</label>
                        <div class="col-sm-8" style="font-size: 20px">
                            <div class="radio-box" th:each="dict : ${@dict.getType('blend_status')}">
                                <input type="radio" th:id="${dict.dictCode}" id="tickStatus" name="tickStatus" th:value="${dict.dictValue}" th:field="*{tickStatus}">
                                <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-12 control-label" style="height:20px;"></label>
                    </div>
                    <div class="row">
                        <label class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                            <button type="submit" th:align="center" class="btn btn-primary" onclick="submit2()">提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "system/ocrTrade";
    window.onload = function () {
        var myDiv = document.getElementById("imageBody");
        var myDiv2 = document.getElementById("div2");
        if (window.screen.height == 768) {
            myDiv.style.height = "500px";
            myDiv2.style.height = "523px";
        } else if (window.screen.height == 1080) {
            myDiv.style.height = "800px";
            myDiv2.style.height = "825px";
        }
    }

    function submit2() {
        $.ajax({
            url: prefix + "/blend",
            type: "post",
            data: {
                "id": function () {
                    return $("input[name='id']").val();
                },
                "tickStatus": function () {
                    return $("input[name='tickStatus']:checked").val();
                }
            },
            success: function (result) {
                if (result.code == 0) {
                    layer.msg("保存成功,正在刷新数据请稍后……", {
                        icon: 1,
                        time: 500,
                        shade: [0.1, '#8F8F8F']
                    }, function () {
                        location.reload();
                    });
                } else {
                    alert(result.msg);
                }
            }
        })
    }

</script>
</body>
</html>